<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Terminal charges info</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>

<div class="page-header">
        <div class="container-fluid">
            <nav class="navbar navbar-default navbar-fixed-top">
                <a class="navbar-brand" href="{{url_for('index')}}">
                Terminal charges info
                </a>
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="btn btn-default navbar-btn" role="button" style="float:right">Log out</a>
            {% endif %}

            </nav>
        </div>

  </div>


    {% with messages = get_flashed_messages() %}
      {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info" role="alert">
            <li> {{ message }} </li>
        </div>
        {% endfor %}

      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}

  </body>
</html>