{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
<table id="country_info" class="display" width="100%">
  <thead>
          <tr>
            <th>Supplier id</th>
            <th>Port</th>
            <th>Country</th>
            <th>Value</th>
            <th>Currency</th>
            <th>Outlier</th>
            <th>Date</th>
        </tr>
  <thead>
</table>

<script>
var data = {{ data|tojson }};
$.fn.dataTable.ext.errMode = 'none';

$('#country_info').on( 'error.dt', function ( e, settings, techNote, message ) {
console.log( 'An error has been reported by DataTables: ', message );
} ) .DataTable( {
    data: data,
    columns: [
        { data: 'supplier_id' },
        { data: 'port' },
        { data: 'country' },
        { data: 'value' },
        { data: 'currency'},
        { data: 'outlier' },
        { data: 'Date' }
    ]
} );

</script>
  </div>
</div>

{% endblock %}