{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="row">
<table id="example" class="display" width="100%">
  <thead>
          <tr>
            <th>Country</th>
            <th>Normal</th>
            <th>Outliers</th>
        </tr>
  <thead>
</table>

<script>
var data = {{ data|tojson }};
$(document).ready( function () {
$('#example').DataTable( {
    data: data,
    columns: [
        { data: 'country' },
        { data: 'normal' },
        { data: 'outlier' }
    ]
} );})

</script>
  </div>
</div>

<div class="container">
  <div class="col-lg-6">
    <div class="input-group">
        <form id="searchform" class="form-horizontal" role="form"  method="post" name="search" action="{{url_for('search')}}">
                            {{ form.hidden_tag() }}
                   {{ form.search (class_= "form-control", placeholder="get country info")}}<br>
      <span class="input-group-btn">
        <input type="submit" value="Find" href="{{url_for('search')}}" class="btn btn-success">
      </span>
            </form>
    </div>
  </div>
</div>

{% endblock %}