<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                        <form id="loginform" class="form-horizontal" role="form" action="" method="post" name="login">
                            {{ form.hidden_tag() }}
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

                                            {{ form.login (class_= "form-control", placeholder="username")}}<br>
                                    </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            {{ form.password(class="form-control", placeholder="password") }}<br>
                                    </div>



                            <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                            {{ form.remember_me() }} Remember Me
                                        </label>
                                      </div>
                                    </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">
                                        <p><input type="submit" value="Sign In" href="#" class="btn btn-success"></p>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Don't have an account!
                                        <a href="{{ url_for('register') }}"> Register </a>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
        </div>
    </div>
{% endblock content %}