<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div class="container">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                        </div>
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form" method="post">
                              {{ form.hidden_tag() }}
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>



                                <div class="form-group">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        {{ form.name(class="form-control", placeholder='name') }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">E-mail</label>
                                    <div class="col-md-9">
                                        {{ form.email(class="form-control", placeholder='name') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Login</label>
                                    <div class="col-md-9">
                                        {{ form.login(class="form-control", placeholder='login') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        {{ form.password(class="form-control", placeholder='password') }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                        <p><input type="submit" value="Sign Up" href="#" class="btn btn-success"></p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Already have an account!
                                        <a href="{{ url_for('login') }}"> Login </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                         </div>
                    </div>




         </div>
    </div>


{% endblock content %}